@{
    ViewBag.Title = "History";
}

<h2>@ViewBag.Title</h2>
<h3>Here it is possible to <b>query journal entries</b> for a given Tracking Id.</h3>

<div class="row">
    <div id="operands-container" class="col-xs-12">
        <h3>Inser the Tracking Id:</h3>
        <div class="operand op0">
            <input />
        </div>
    </div>
</div>

<br />

<div id="error-message" class="col-xs-12">
    <div class="error-container">
        <span></span>
    </div>
</div>

<br />

<div id="result-container" class="col-xs-12">
    <h4>The journal entries for this Tracking Id are the following: </h4>
    <table>
        <thead>
            <tr>
                <th>Operation</th>
                <th>Calculation</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="calculation-result">
        </tbody>
    </table>
</div>

<br />

<div id="calculate-reset" class="col-xs-12 buttons-container">
    <button id="calculate-total">Query</button>
    <button id="reset-form">Reset</button>
</div>


@Scripts.Render("~/scripts/query")
