@{
    ViewBag.Title = "Calculator Service";
}

<div class="jumbotron">
    <h1>Calculator Service</h1>
    <p class="lead">
        Calculator Service is an application capable of some basic arithmetic operations, 
        like add, subtract, multiply, divide, square, etc. 
        Along with a history service keeping track of requests sharing a common an identifier.
    </p>
    <p>Use the navigation bar to select the arithmetic operation you want to perform.</p>
</div>
